################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MvvmJonasTest/v15/Server/sqlite3
