################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MvvmJonasTest/v15/Server/sqlite3
/.vs
/MvvmJonasTest/bin/Debug
/MvvmJonasTest/bin/Release
/MvvmJonasTest/obj
/packages/Ninject.3.3.4
